/*-------------------------------- Profile ----------------------------------------*/

	.profile-header {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 225px;
		background: rgba(48,144,204,1);
	}

		.profile-header-center {
			width: 100%;
			margin: auto;
		}

			.profile-header-center-photo {
				display: inline-block;
				margin: 20px 1%;
				float: left;
				background: url('../img/profile photos/liamhammersley-profile.jpg'), #FFF;
				background-size: cover;
				background-repeat: no-repeat;
				width: 170px;
				height: 170px;
				border: 8px solid rgba(103,215,224,1);
				border-radius: 50%;
			}	

			.profile-header-center-name {
				float: left;
				display: table;
				height: 225px;
				width: 40%;
				color: #FFF;
				font-family: 'Raleway-Light', sans-serif;
			}

				.profile-header-center-name span {
					display: table-cell;
					vertical-align: middle;
				}

				.profile-header-center-name p {
					font-size: 3em;
					margin: 0;
				}

				.profile-header-center-name a:link {
					color: #FFF;
				}

				.profile-header-center-name a:hover {
					color: #B6E5FF;
				}

			.profile-header-center-links, 
			.profile-header-center-links ul,
			.profile-header-center-links ul li {
				height: 225px;
				margin: 0;
				padding: 0;
			}

			.profile-header-center-links {
				float: right;
			}

				.profile-header-center-links ul li {
					display: inline-block;
					position: middle;
					list-style: none;
					text-align: center;
					width: 160px;
					border-left: 2px solid rgba(78, 148, 191, 1);
				}

				.profile-header-center-links a:link {
					font-family: 'Raleway-regular', sans-serif;
					font-size: 1.8em;
					color: #B6E5FF;
				}

				.profile-header-center-links a:hover {
					color: red ;
				}

				.profile-header-center-links a:visited {
					color: #B6E5FF;
				}

				/*#selected {
					background: #FFF;
				}*/

				#profile-header-middle {
					position: relative;
					top: 85px;
				}